{% extends 'base.html.twig' %}
{% set page_title = 'Les articles' %}

{% block title %}
{% endblock %}

{% block body %}

<section class="articles">


    {% for article in articles %}

    <article>
        <a style="text-decoration: none; color: black;" href="{{ path('blog_show', {'id': article.id}) }}">
            <h1>{{ article.title }}</h1>
        </a>

        <div class="metadata">Ecrit le {{ article.createAt | date('d/m/Y') }} à {{ article.createAt | date('H:i') }}
            dans la catégorie <strong>{{article.category.title}}.</strong>

            <br>

            <strong>🗨 {{ article.comments | length }} commentaires</strong>
        </div>

        <div class="content">
            <a href="{{ path('blog_show', {'id': article.id}) }}"> <img src="{{ article.image }}" alt="Productivité">
            </a>
            {{ article.content | raw }}
            <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary btn-sm">Lire la suite</a>
        </div>
        <br>
    </article>

    {% endfor %}



</section>



{% endblock %}